<!DOCTYPE HTML>

<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>275Project</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var timepicker = new TimePicker('time', {
		  lang: 'en',
		  theme: 'dark'
		});

		var input = document.getElementById('time');

		timepicker.on('change', function(evt) {
		  
		  var value = (evt.hour || '00') + ':' + (evt.minute || '00');
		  evt.element.value = value;

		});
	</script>
</head>
<body ng-app="app" ng-controller="home as home">

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
			<a href="/mainPage" class="navbar-brand">California Ultra-Speed Rail Service</a>
	    </div>
	    <!-- <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Page 1-1</a></li>
	          <li><a href="#">Page 1-2</a></li>
	          <li><a href="#">Page 1-3</a></li>
	        </ul>
	      </li>
	      <li><a href="#">Page 2</a></li>
	    </ul> -->
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/bookingHistory"><span class="glyphicon glyphicon-user"></span>Booking History</a></li> 
	      <li><a href="#" ng-click="home.signout()"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
	    </ul>
	  </div>
	</nav>


	<div class="col-lg-3"></div>

	<div class="col-lg-6">
		<div class="alert alert-success col-lg-12" ng-show="success">
		<strong>Success!</strong> {{successMessage}}
		</div>

		<!-- Success Message -->
		<div class="alert alert-danger col-lg-12" ng-show="error">
		<strong>Failed!</strong> {{failureMessage}}
		</div>

		<!-- Success Message -->
		<div class="alert alert-light col-lg-12" ng-show="message">
		<strong>Message!</strong> {{Message}}
		</div>
		<div class="col-lg-12"><h2>Booking History</h2></div>
		<div class="col-lg-12">
			<div class="col-lg-12" style="margin-top: 10px">
				<ul class="list-group" >
					<h4 ng-if="tickets.length == 0">{{Message}}</h4>
	                <li class="list-group-item" ng-repeat="x in tickets" style="display: inline-block;">
            			<div class="col-lg-12">
                			<div class="col-lg-6">
		                		<label>Ticket Type: {{x.ticket_type}}</label>
		                	</div>
		                	<div class="col-lg-6" ng-hide="x.cancelled">
		                		<input type="radio" style="float: right;" ng-model="$parent.name" value="{{x.ticket_id}}"/>
		                	</div>
	                	</div>
	                	<div class="col-lg-12">
		                	<div class="col-lg-6"><b>Cost of Ticket:</b> {{x.price}}$</div>
		                	<div class="col-lg-6"><b>Passenger Count:</b> {{x.passenger_count}}</div>
		                </div>
						<div ng-repeat="trains in x.bookings">
							<div class="col-lg-12">
								<div class="col-lg-6"><b>Train Name: </b>{{trains.train_name}}</div>
							</div>
							<div class="col-lg-12" >
								<div class="col-lg-6"><b>From: </b>{{trains.origin}}</div>
								<div class="col-lg-6"><b>Departure Time:</b> {{trains.departure_date}}</div>
							</div>
							<div class="col-lg-12">
								<div class="col-lg-6"><b>To: </b>{{trains.destination}}</div>
								<div class="col-lg-6"><b>Arrival Time:</b> {{trains.arrival_date}}</div>
							</div>
						</div>
	                </li>
		        	<center><button class="btn btn-primary" ng-click="cancelTickets(name)" style="width:100%;margin-top:5px" ng-if="tickets.length != 0">Cancel Ticket</button></center>
		        </ul>
			</div>

		</div>

	</div>

	<div class="col-lg-3"></div>

</body>
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
	angular.module("app", []).controller("home", function($scope, $http, $location, $window, $timeout) {

        var self = this;
        $scope.success=false;
        $scope.error=false;
        $scope.Message = "There is not any booking..";

        //console.log("value1"+value+"value2"+value1+"value3"+value2);
        $http({
            url: "/getTickets",
            method: "GET"
        }).success(function (data) {
            console.log(data);
            $scope.tickets = data;
        }).error(function () {
            console.log("Error in retrieving the user bookings...");
        })

		$scope.clearFlashMessages = function(){
            $scope.error=false;
            $scope.success = false;
            $scope.message = false;
		}
		$scope.cancelTickets = function(id){
			$http.post("/cancelTicket/"+ id).success(function (data){
				$scope.successMessage = "Ticket has been cancelled...";
				$scope.success=true;
			}).error(function(err){
                $scope.failureMessage = "Error in processing the request...";
                $scope.error=true;
			})
            $timeout(function () { $scope.clearFlashMessages(); },2000);
			$window.location.reload(true);
		}

        $scope.bookingHistory = function () {
            $http.get('/bookingHistory').success(function (data) {

            }).error(function (data) {
                console.log("Failed");
            })
        }

        /*self.bookTicket = function(train){
			$scope.Train = train;
		}*/

        self.signout = function () {
            $http.post('/userLogout', {}).success(function () {
                $window.location.href = "/";
            }).error(function (data) {
                console.log("Logout failed")
            })
        }
    });
</script>
</html>

