<!DOCTYPE HTML>

<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>275Project</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	

<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">
	<!-- <div class="container" ng-show="!home.authenticated">
		<div>
			With Facebook: <a href="/connect/facebook">click here</a>
		</div>
		<div>
			With Google: <a href="/connect/google">click here</a>
		</div>
	</div> -->
	<p>Logged In as :"${email}"</p>
		<button ng-click="home.signout()" class="btn btn-primary">sign out</button>
</body>
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
	angular.module("app", []).controller("home", function($scope, $http, $location, $window) {
		var self = this;

		self.signout = function() {
			$http.post('/userLogout',{

			}).success(function(){
				$window.location.href ="/";
			}).error(function(data){
				console.log("Logout failed")
			})
		}
		
		/*elf.logout = function() {
			$http.post('/logout', {}).success(function() {
			}).error(function(data) {
				console.log("Logout failed")
			});
		};*/
	});
</script>
</html>